<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="Extended.Wpf.Toolkit" version="2.2.1" targetFramework="net45" />
  <package id="OxyPlot.Core" version="2014.1.517" targetFramework="net45" />
  <package id="OxyPlot.Wpf" version="2014.1.517" targetFramework="net45" />
  <package id="R.NET.Community" version="1.5.16" targetFramework="net45" />
</packages>